*{
    font-family: 'Oswald', sans-serif;
}

body {
    color: white;
    background-image:url(./src/notes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 60px;
    text-align: center;
    font-style: normal;
    color: navy;

}

